body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 224, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: #3174a9 0.2rem solid;
  width: 100%;
  background-color: #24273a;
}

.shopTitle {
  color: #3174a9;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-weight: 700;
}

.navBarTop {
  display: flex;
  align-items: center;
}

.navBarTop > a {
  margin: 1.2rem;
  text-decoration: none;
  color: #e4e0e0;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-size: large;
}

.footerComp {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.2rem;
  border-top: #025496 0.2rem solid;
  justify-content: center;
}

.navBarBot {
  display: flex;
  flex-direction: row;
}

.navBarBot > a {
  margin: 1.2rem;
  text-decoration: none;
  color: #025496;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navBarBot > img {
  width: 1.5rem;
  margin: 0 1.2rem;
}

.homePage {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.storySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondHeader {
  font-weight: 700;
  color: #1d1d1f;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-size: 48px;
}

.storytelling {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  color: #1d1d1f;
}

.buyLink {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  margin-bottom: 0.2rem;
  text-decoration: none;
}

.imageFrontPage {
  max-width: 80vw;
}

.loadingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadT {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-weight: 700;
}

.shopPage {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.shopPageLoaded {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.shopTheLatest {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-weight: 700;
}

.prodsDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem 0.5rem;
}

.singleProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem;
  border-radius: 5%;
}

.cartDiv {
  display: flex;
  flex-direction: column;
  margin: 0 3em;
  align-items: center;
}

.prodInCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem;
  border-radius: 5%;
  margin: 1em 0;
  width: 75%;
}

.prodImages {
  max-width: 200px;
  max-height: 200px;
  height: auto;
}

.prodTitle {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  margin: 0.2rem;
}

.prodPrice {
  font-size: 1.2rem;
  margin: 0.2rem;
}

.prodQ {
  display: flex;
  align-items: center;
}

.addToCartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  font-size: 12 px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
}

.singleProduct:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.addToCartButton:hover {
  background-color: #444;
}

.contactUsPage {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
}

.secondHeadCont {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-weight: 700;
}

.pOfCont {
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-size: large;
}

#cartSvg {
  width: 66%;
}

#buyButton {
  margin: 0 1rem;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#buyButton:hover {
  background-color: #3e8e41;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#totalPriceP {
  margin: 1rem;
}

.myForm {
  display: grid;
  grid-template-areas:
    "firstName lastName"
    "email subject"
    "message message"
    "buttonSub buttonSub";
  gap: 0.8rem 0.5rem;
}

#firstNameInput {
  grid-area: firstName;
  height: 1.2rem;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

#lastNameInput {
  grid-area: lastName;
  height: 1.2rem;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

#emailInput {
  grid-area: email;
  height: 1.2rem;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

#subjectInput {
  grid-area: subject;
  height: 1.2rem;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

#messageInput {
  grid-area: message;
  height: 3rem;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

.buttonSub {
  grid-area: buttonSub;
  background-color: #025496;
  color: #fff;
  border-radius: 7px;
  height: 1.8rem;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

.toastNotification {
  background-color: #3174a9;
  color: #fff;
  padding: 10px;
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
